body {
  background: rgb(236, 232, 232, 0.5);
}

:root {
  --darker: #111111;
}

/* ul {
  padding-left: 0;
  padding-right: 20;
  text-shadow: 2px 2px 2px #aaa;
}

li {
  list-style: none;
  border-right: 2px solid gray;
  padding: 5px 15px 5px 15px;
  font-size: 20px;
  margin-block: 30px;
} */

.bd-r-none {
  border-right: 0px;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.inline {
  display: inline-flex;
}

.space-center {
  justify-content: center;
}

.w-3 {
  width: 30%;
}

.w-100 {
  width: 100%;
}

footer {
  width: 100%;
  margin-top: 60px;
  padding: 30px;

  color: black;
  text-align: center;
}

.eng {
  font-family: 'Pinyon Script', cursive;
  font-size: 45px;
  text-shadow: 2px 2px 2px rgb(33, 32, 32);
  color: rgb(255, 255, 255);
}

.and {
  font-size: 40px;
  text-decoration-line: underline;
}

.kor {
  font-family: 'Nanum Myeongjo', serif;
  font-size: 30px;
  color: rgba(59, 59, 58, 1);
}

.m-b-10 {
  margin-block: 10px;
}

.m-b-30 {
  margin-block: 30px;
}

.mx-5 {
  margin-inline: 5px;
}

.py-20 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.py-30 {
  padding-top: 30px;
  padding-bottom: 30px;
}

.invite {
  font-family: 'Nanum Myeongjo', serif;
  font-size: 15px;
  color: rgb(194, 109, 35);
  line-height: 1.8;
}

.border {
  border: 1px solid rgb(189, 185, 185);
  padding: 10px;
  box-shadow: 1px 1px rgb(41, 41, 41);
}

.bgi {
  background-position: center;
  background: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    url('./assets/jpg/deco1.jpeg');
  background-size: cover;
}

.location {
  background: rgba(237, 237, 237, 0.924);
}

.gallery {
  font-family: 'Nanum Myeongjo', serif;
  font-size: 20px;
  text-shadow: 1px 1px 1px #aaa;
}

.modalBackdrop {
  background: rgba(0, 0, 0, 1);
  bottom: 0;
  left: 0;
  overflow: auto;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1;
}

.modalContainer {
  border-radius: 5px;
  /* max-width: 360px; */
  margin: 30px auto;
  padding: 5px;
  /* width: 100%; */
  padding-top: 60px;
}

.modalContainer img {
  max-width: 350px;
}

.closeBtn {
  color: aliceblue;
  opacity: 0.8;
  position: absolute;
  font-size: 30px;
  right: 0;
}

.closeBtn:hover,
.forward:hover,
.back:hover {
  opacity: 1;
  background-color: rgba(125, 116, 116, 0.4);
}

.forward {
  color: aliceblue;
  opacity: 0.8;
  position: absolute;
  top: 45%;
  right: 10px;
  font-size: 30px;
}

.back {
  color: aliceblue;
  opacity: 0.8;
  position: absolute;
  top: 45%;
  left: 10px;
  font-size: 30px;
}

.rounded {
  padding: 10px;
  border-radius: 25px;
}
