* {
  margin: 0;
}

body {
  width: 375px;
  margin-left: auto;
  margin-right: auto;
}

ul {
  padding-left: 0;
  padding-right: 20;
}

li {
  list-style: none;
  border-right: 2px solid gray;
  padding: 5px 15px 5px 15px;
  font-size: 20px;
  margin-block: 30px;
}

.bd-r-none {
  border-right: 0px;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.inline {
  display: inline-flex;
}

.space-center {
  justify-content: center;
}

.w-100 {
  width: 100%;
}

footer {
  width: 100%;
  margin-top: 60px;
  padding: 30px;

  color: black;
  text-align: center;
}
